

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
header {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  background-color: #b0b8db;
  color: #4e5572;
}
header .logo{
  padding-top: 5px;
  font-size: 50px;
}
.links{
  margin-right: 10%;
}
.links p{
  padding: 15px;
font-size: 30px;
}

.logo {
margin-left:10%;

}

.nav-links{
  display: inline-block;
  text-decoration: none;
  color: #4e5572;

}
.authors {
  padding-left: 15px;
  padding-right: 15px;
}

footer{
  background-color: #b0b8db;
  padding: 20px 0;
  text-align: center;
}
footer p{
  color: #4e5572;
}

.posts-list {
  width: 80%;
  margin: 0 auto;
}
.posts-title {
  text-align: center;
  margin-bottom: 40px;
}

.about-content{
  width: 80%;
  margin: 0 auto;
}

.about-content article{
  font-size: 18px;
  text-align: center;
}

.about-content article h1{
color: #322b5b;
font-size: 45px;
}
.about-content article p{
color: #662e68;
}

.one-post h4{
margin-top: 0;
font-size: 25px;
color: #662e68;
}
.one-post article{
  font-size: 18px;
  color: #322b5b;
}
.one-post{
  display: block;
  background-color: #b0b8db;
  border-radius: 10px;
  padding:  10px 20px;
  margin-bottom: 25px;
  box-shadow: 10px 13px 24px -6px rgba(0,0,0,0.52);
}

.authors-list {
  width: 80%;
  margin:auto;
}
.authors-title {
  text-align: center;
  font-size: 45px;
  color: #322b5b;
}
.author-name{
  margin: 0px;
  color: #322b5b;
}
.one-author {
  display: block;
  background-color: #b0b8db;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 25px;
  box-shadow: 10px 13px 24px -6px rgba(0,0,0,0.52);
}

.post-author-name{
display:block;
font-size: 25px;
text-align: center;
margin-bottom: 25px;
color: #b0b8db;

}
.author-link:active,
.author-link:visited,
.author-link:hover,
.author-link:link{
  text-decoration: none;
  color: #b0b8db;
}
.back-button:active,
.back-button:visited,
.back-button:hover,
.back-button:link{
  text-decoration: none;
  color: #b0b8db;
}
hr{
  color: #322b5b
}


.single-post {
  width: 70%;
  margin: auto;
}

.single-post-title {
  font-size: 45px;
  text-align: center;
  color: #322b5b;
  text-transform: capitalize;

}

.single-post-body {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #662e68;
  padding-bottom: 15px;
  border-bottom: 2px solid #b0b8db;

}

.single-author-container {
  width: 80%;
  margin: auto;
}

.single-author-container section {
  border-bottom: 1px solid #322b5b;
}

.back {
  position: relative;
}

.back-all-authors {
  position: absolute;
  left:20px;
  font-size: 22px;
  color: #b0b8db;
}

.single-author-title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
  color: #322b5b;
}

.single-author-photo {
  float: left;
  margin-right: 100px;
}

.single-author-photo img {
  width: 250px;
}

.single-author-name-info h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
  color:#322b5b;
}

.single-author-name-info p {
  font-size: 24px;
  padding-bottom: 24px;
  color: #662e68;
}

.single-author-adress {
  display: flex;
  justify-content: space-between;
}

.adress h3 {
  color: #322b5b;
  font-weight: 600;
  font-size: 40px;
}

.adress p {
  font-size: 24px;
  padding-bottom: 24px;
  color: #662e68;
}

.frame {
  margin: 70px;

}

.single-author-container .company {
  border-bottom: none;
}
.company h1 {
  color: #322b5b;
  font-weight: 600;
  font-size: 40px;
}

.company p {
  font-size: 24px;
  padding-bottom: 24px;
  color: #662e68;
}

.related-posts {
  font-size: 20px;
  padding-top: 15px;
}

.related-links:link,
.related-links:active,
.related-links:hover,
.related-links:visited{
text-decoration: none;
color: #662e68;
}
.related-title{
  color: #4e5572;
}



